#create-schedule {
	width : 40%;
	float : right;
	margin-right : 100px;
	margin-top : 150px;
	padding : 50px;
	background-color : #001641;
	border-radius : 8px;
	box-shadow : 10px 25px #00161780;
}

#context-menu {
	position : absolute;
	z-index : 10;
}

.weekly-calendar {
	width : 100%;
	height : 100%;
	background-color : #121417;
	color : #fff;
}

.weekly-calendar th {
	padding : 25px;
	background-color : #ff984444;
}

.weekly-calendar td {
	background-color : #55ff9850;
}

.weekly-calendar td:hover {
	cursor : pointer;
	background-color : #55ff98;
}

#create-schedule input, select{
	width : 100%;
	margin-top : 20px;
	margin-bottom : 20px;
}

#create-schedule #submit{
	font-family : monospace;
	font-style : bold;
	font-size : 20px;
	margin-bottom : 0;
}

#create-schedule label{
	float : left;
	font-weight : bolder;
	text-decoration : underline;
	font-family : monospace;
	padding : 8px;
	color : red;
}

#create-schedule select {
	appearance : none;
	-webkit-appearance : none;
}

#schedule-time-table label{
	padding : 12px;
}

.date-input {
	width : 100%;
	margin-left : 100px;
}

