#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left : 0;
}

#top-schedule-1 {
  bottom : 40px;
  background-color: #4CAF50;
}

#top-schedule-2 {
  bottom : 100px;
  background-color: #2196F3;
}

#top-schedule-3 {
  bottom : 160px;
  background-color: #f44336;
}

#top-schedule-4 {
  bottom : 220px;
  background-color: #555
}
