#mySidenav a {
  position: absolute;
  left: -100px;
  transition: 0.3s;
  padding: 20px;
  width: 150px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav .edit-button {
	position : absolute;
	left : 5px;
}

#mySidenav .edit-button:hover {
	color : green;
}

#mySidenav .del-button {
	position : absolute;
	top : 0;
	right : 0;
}

#mySidenav .del-button:hover {
	color : red;
}

#mySidenav a:hover {
  left : 0;
}

#top-schedule-1 {
  bottom : 40px;
  background-color: #4CAF50;
}

#top-schedule-2 {
  bottom : 100px;
  background-color: #2196F3;
}

#top-schedule-3 {
  bottom : 160px;
  background-color: #f44336;
}

#top-schedule-4 {
  bottom : 220px;
  background-color: #555
}
